body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 0.9em;
}

.container {
  width: 40%;
  margin: 40px auto;
}

.container h2 {
  margin: 62px 0 42px 0;
}

.item {
  cursor: pointer;
  max-width: 480px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.item article {
  flex: 1;
  flex-basis: 60%;
}

.item h3 {
  color: #222;
  margin: 0 0 16px 0;
  font-weight: 700;
  font-size: 1.3em;
}

.item p {
  color: #5c5c5c;
}

.item p:first-child {
  margin: 0 0 10px 0;
  font-weight: 700;
}

.item p:last-child {
  text-transform: uppercase;
  margin: 0;
}

.photo {
  flex: 1;
  flex-basis: calc(30% - 16px);
  background-color: #e4e5e6;
  background-size: cover;
  margin-left: 8px;
}

.paging {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
}

.paging button {
  outline: none;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.paging button:hover {
  font-weight: 700;
}

.paging li {
  display: flex;
  justify-content: center;
  align-content: center;
  line-height: 18px;
  width: 18px;
}

.paging li + li {
  margin-left: 8px;
}

li.active {
  background: #e4e5e6;
}

button[disabled] {
  cursor: not-allowed;
}

.list {
  margin-bottom: 42px;
}

.top,
.top:visited {
  text-decoration: none;
}

.top:hover {
  font-weight: 700;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 10;
}

.dimmer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
}

.content {
  max-height: calc(100vh - 120px);
  margin: 0 auto;
  max-width: 780px;
  width: 680px;
  position: relative;
  padding: 16px;
  background: white;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
}

.close:hover {
  border-radius: 50%;
  border-color: transparent;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
}

.close {
  background: white;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  cursor: pointer;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
}

.spinner {
  display: none;
}

.fetching .spinner {
  display: block;
}

.hide {
  display: none !important;
}

@media (max-width: 767px) {
  .container {
    width: 80%;
    margin: 20px auto;
  }
  .content {
    width: 88%;
  }
}

@media (max-width: 410px) {
  .container {
    width: 90%;
    margin: 20px auto;
  }
  .content {
    width: 98%;
  }
}
